# Ignore everything at the root
/*

# Except these directories
!/agents/
!/commands/
!/assets/
!/resources/
!/skills/
!/hooks/
!/CLAUDE.md
!/LICENSE.md

# And these files
!LICENSE.md
!README.md
!.gitignore
